:root {
    --base-font-size                        : 16px;
    --link-color                            : #0A75BD;
    --navbar-root-color                     : #0A75BD;
    --navbar-root-color--active             : #0A75BD;
    --navbar-root-color--hover              : #0A75BD;
    --sidebar-name-color                    : #0A75BD;
    --sidebar-nav-link-color--active        : #4D4D4D;
    --sidebar-nav-link-font-weight--active  : bold;
    --pagination-title-color                : #0B87DA;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; overflow: hidden;
  max-width: 100%;
}

.video-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
}

.responsive-wrap iframe{
  max-width: 100%;
}

.markdown-section .button {
  cursor: pointer;
  color: white;
  height: 38px;
  padding: 8px;
  background-color: #0A75BD;
  text-decoration: none;
  border-radius: .25rem;
}

.markdown-section a.button {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.markdown-section .banner-image {
  width: 100%; /* width of container */
  height: 200px; /* height of container */
  object-fit: cover;
  object-position: 50% 50%;
}

.pagination-item, .pagination-item-title {
    opacity: .9!important;
}

.pagination-item:not(:last-child) a .pagination-item-label, .pagination-item:not(:last-child) a .pagination-item-subtitle, .pagination-item:not(:last-child) a .pagination-item-title {
    opacity: .9!important;
    transition: all .2s;
}

blockquote ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

blockquote ul li {
  padding-left: 1em;
  text-indent: -1em;
}

blockquote ul li:before {
  content: '\2713';
  padding-right: 5px;
}

/* Style changes for Shoelace web components within Docsify Markdown content */

.grey-background::part(base) {
   margin-top: 16px;
   background: #f6f7f6;
   border: 0px;
 }

.markdown-section sl-alert figure, .markdown-section sl-alert p, .markdown-section sl-alert ol, .markdown-section sl-alert ul {
      margin: 0;
      font-size: 16px;
}

}
.markdown-section h1:first-child, .markdown-section h2:first-child, .markdown-section h3:first-child, .markdown-section h4:first-child, .markdown-section h5:first-child, .markdown-section h6:first-child {
    margin-top: 0;
}

.markdown-section sl-alert h2  {
      border: 0;
      margin: 0;
      padding: 0;
}

.markdown-section sl-alert h3 {
      margin-top: 10px;
}

.markdown-section sl-card figure, .markdown-section sl-card p, .markdown-section sl-card ol, .markdown-section sl-card ul {
      margin: 0;
}

.markdown-section sl-alert .alert .alert--open {
    border-top-color: #FFFFFF;
}
